!CONFIG { version="1.0" locale="utf-8" }

// Параметры подключения к базе данных (для удобства разработки, по умолчанию - рабочие параметры).

db {
    // Адрес хоста.
    host="127.0.0.1"
    // Алиас или путь и имя файла.
    alias="WebCenter"
    // Имя пользователя.
    user="WC_REQUESTPROCESSOR"
    // Пароль.
    password="xxxxxxxx"
}

processor {
    loadsize="10" // максимальное кол-во заявок обрабатываемое за один запрос.
    delay="2000" // пауза между запросами (проверка наличия) заявок (мсек).
}

sender {
    loadsize="10" // максимальное кол-во заявок обрабатываемое за один запрос.
    delay="2000" // пауза между запросами (проверка наличия) заявок (мсек).
}

// Для режима с интерфейсом (когда при запуске указан аргумент showui)
ui {
    redraw="250" // интервал обновления состояния на экране (мсек).
}

// Для режима без интерфейса (когда не указан аргумент showui)
noui {
    redraw="2000" // интервал обновления состояния в файле (мсек).
    path="/run/user/1000/WebRequestProcessor" // каталог в котором создаётся файл отображения состояния (для размещения на tmpfs).
}